@model DataLayer.DataLayer.DLAdmin
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="login-box">
        <div class="login-logo">
            <b>e</b>Commerce
        </div>
        <!--==============================ReEnter Password==============================-->
        <div class="login-box-body">
            <p class="login-box-msg">Change Password</p>
            @using (Html.BeginForm("RePassword", "Account"))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <table border="0">
                    <tr>
                        <th>@Html.Label("Email ID : ")</th>
                        <td>@Html.TextBox("EmailID")</td>
                    </tr>
                    <tr>
                        <th>@Html.Label("Enter New Password : ")</th>
                        <td>@Html.Password("Password")   </td>
                    </tr>
                    <tr>
                        <th>@Html.Label("ReEnter New Password : ")</th>
                        <td>@Html.Password("ConPassword")  </td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="submit" value="Continue" /></th>
                    </tr>
                </table>
            }
        </div>
    </div>
   <!--==============================End ReEnter Password==============================-->
